<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Courses Web App</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/custom.css}"/>
</head>
<body>
<button class="btn btn-info">Temporary Button</button>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
</body>
</html>